html {position: relative;}

body {
	background: url(../images/tree_bark.png);
}

p, button {
	font-family: 'Lora', serif;
	font-size: 18px;
}

button {
	    display: block;
	    text-align: center;
	    margin: 10px auto;
	    padding: 10px;
	    background-color: #DAF7A6;
	    border: 1px solid #DAF7A6;
}

button:hover { 
    background-color: yellow;
    border: 1px solid black;}

#startBtn, #newGameBtn {
	    display: block;
	    text-align: center;
	    font-weight: bold;
	    font-size: 15;
	    margin: 30px auto 10px;
	    padding: 10px;
	    background-color: #FFFFFF;
	    border: 1px solid #196F3D;
}
#startBtn:hover, #newGameBtn:hover {
    background-color: yellow;
}
.main-content {
	background-color: #DAF7A6;
	opacity: 0.8;
	min-height: 400px;
	padding: 20px;
}

.headline {
	background-color:#196F3D;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Changa', sans-serif;
	font-size: 48px;
	color: #fff;
	margin: 20px auto 0;
	padding: 15px;
}
.timer {
	font-family: 'Changa', sans-serif;
	font-size: 24px;
	margin: 10px auto;
	}

#answer {
	font-size: 24px;
	font-weight: bold;
}

.answerPic {
	border: 1px solid #196F3D;
	margin: 10px;
}

footer {
	margin: 20px auto;
	/*text-align: center;*/
	position: fixed;
	bottom: 0;